# Web Framework
fastapi
uvicorn
starlette
pydantic

# Authentication
authlib
python-jose
python-dotenv

# Database
motor
pymongo

# Text-to-Speech
elevenlabs

# Middleware and Utils
python-multipart
httpx
itsdangerous
google
